body {
    background-image: url("Assets/css/coffee-background.jpg");
    background-size: cover;
    background-repeat: norepeat;
}

.header {
    padding: 30px;
    background-color: #3f51b5;
    box-sizing: border-box;
       }

img {
    float: left;
    margin: 0px 25px 0px 0px;
}

.body {
    margin-left: 225px;
    width: 700px;
    height: 960px;
    border-width: 10px;
    border-color: black;
    padding: 25px;
    background-color: cadetblue;
}
#links {
    margin-bottom: 50px;
    margin-right: 242px;
        float: right;
}
.in-link {
    color: white;
}
#name {    
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 200px;
    height: 100%;
    width: 17%;
    display: inline;
    font-weight: 30px;
    font-size: 25px;
    padding: 30px;
    background-color: teal;
}
footer {
    text-align: center;
    background-color: #3f51b5;
    padding: 30px;
    border-top: 20px black solid;
    margin-top: 25px;
      }
    .details {
        background-color: white;
        padding: 15px;
        width: 89%px;
        height: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    #bio-message {
        background-color: white;
        margin-top: 0px;    
    }

    button {
        background-color: teal
        color: black;
        font-weight: 45px;

    }
