body {
    background-image: url("Assets/css/coffee-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 30px;
    background-color: #3f51b5;
    box-sizing: border-box;
    font-family: 'Solway', serif;
       }

#about-image {
    float: left;
    margin: 0px 25px 0px 0px;
}

.body {
    box-sizing: border-box;
    margin-left: 120px;    
    width: 960px;
    clear: both;
    height: auto;
    border-width: 10px;
    border-color: black;
    padding: 25px;
    background-color: cadetblue;
}
#links {
    margin-bottom: 50px;
    margin-right: 140px;
        float: right;
}
.in-link {
    color: white;
}
#name {        
    margin-left: 90px;
    height: 100%;
    width: 17%;
    display: inline;
    font-weight: 30px;
    font-size: 25px;
    padding: 30px;
    background-color: teal;
}
footer {
    text-align: center;
    background-color: #3f51b5;
    padding: 30px;
    border-top: 20px black solid;
    margin-top: 25px;
    position: sticky;
      }
    .details {
        background-color: white;
        padding: 15px;
        width: 89%px;
        height: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    #bio-message {
        background-color: white;
        margin-top: 0px;    
    }

    button {
        background-color: teal
        color: black;
        font-weight: 45px;

    }
    #arabica {
        position: relative;
        display: block;
    }
    #dark {
        position: absolute;
        display: block;
        top: 41.2%;
        left: 30%;
        
    }
    #ethi {
        position: relative;
        display: block;
    }
    #rob {
        position: absolute;
        display: block;
        top: 83.2%;
        left: 30%;
    }
    #tan {
        position: relative;
        display: block;
    }
    .coffee {
        /* overflow: inherit; */
        /* size: inherit; */

        padding: 20px;
        position: absolute;
        display: inline;
        background-color: teal;
        font-size: 18px;
        text-align: center;
        top: 120px;
        left: 1px;
    }
    
    /* .coffee {
        padding: 20px;
        background-color: brown;
        position: absolute;
        display: inline;
        z-index: -5px;
    }
    
    
